<!DOCTYPE html>
<html ng-app="projectApp">
<head>
    @RenderSection("head", required: false)
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Etude Landing Page</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
    <body ng-cloak>
        @RenderBody()

        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/projectApp")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/materialize")
    </body>
</html>
